.comment {
  margin: 20px 0;
  .commenterinfo {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
      border-radius: 10px;
    }
    p {
      margin-left: 10px;
    }
  }
  .date {
    margin: 10px 0;
  }
}