.comment {
  margin: 10px 0;
  padding: 10px 0;
  border-radius: 10px;
  background: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  .commenterinfo {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
      border-radius: 10px;
    }
    p {
      margin-left: 10px;
    }
  }
  .date {
    margin: 10px 0;
  }
}