@use '../../assets/style/media';

.profilcard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 90%;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  h2 {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .image {
    transform: translateY(-30px);
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
  .name, .email, .description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  @include media.sm {
    .image {
      height: 300px;
    }
  }
  @include media.md {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      "img name email"
      "img desc desc"
    ;
    .image {
      grid-area: img;
      transform: translateY(0);
    }
    .name {
      grid-area: name;
      text-align: center;
    }
    .email {
      grid-area: email;
    }
    .description {
      grid-area: desc;
    }
  }
  @include media.lg {
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      "img name email"
      "img desc desc"
    ;
    .image {
      grid-area: img;
      transform: translateY(0);
      height: 300px;
    }
    .name {
      grid-area: name;
      text-align: center;
    }
    .email {
      grid-area: email;
    }
    .description {
      grid-area: desc;
    }
  }
  @include media.xl {
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      "img name email"
      "img desc desc"
    ;
    width: 100%;
    .image {
      grid-area: img;
      transform: translateY(0);
      height: 300px;
    }
    .name {
      grid-area: name;
      text-align: center;
    }
    .email {
      grid-area: email;
    }
    .description {
      grid-area: desc;
    }
  }
}