@use '../../assets/style/media';

.header {
  position: relative;
  box-shadow: var(--box-shadow-nav);
  padding: 20px 0;
  background: #fff;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    .title {
      font-size: 20px;
      margin-left: 10px;
      color: var(--primary-color);
      cursor: pointer;
    }
    .navbar {
      cursor: pointer;
      @include media.md {
        display: none;
      }
      @include media.lg {
        display: none;
      }
      @include media.xl {
        display: none;
      }
      color: var(--primary-color);
      margin-right: 10px;
    }
  }
}