.header {
  position: relative;
  box-shadow: var(--box-shadow-nav);
  padding: 20px 0;
  background: #fff;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    font-size: 25px;
    margin-left: 10px;
    color: var(--primary-color);
    cursor: pointer;
  }
  .user {
    .profil, .logoutLogo {
      cursor: pointer;
      color: var(--primary-color);
    }
    .profil {
      margin-right: 30px;
    }
    .logoutLogo {
      margin-right: 10px;
    }
  }
}