body {
  font-family: var(--font);
}

.container {
  max-width: 1200px;
}

a {
  color: var(--tertiary-color);
  &:hover {
    color: var(--primary-color);
  }
}

.active {
  i, p {
    color: var(--primary-color);
  }

}