:root {
// Couleurs
--primary-color: #fd2d01;
--secondary-color: #ffd7d7;
--tertiary-color: #4e5166;
--background-color: #ecf0f1;
--success-1: #2ecc71;
--success-2: #27ae60;
--danger-1: #e74c3c;
--danger-2: #c0392b;

// font
--font: 'Roboto', sans-serif;

// box-shadow
--box-shadow-nav: rgb(0 0 0 / 22%) 0 2px 18px 0;
}